.error {
  text-align: center;
  margin: 100px 0 200px;
}

.error h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 20%;
  font-size: 50px;
}